@media (min-width: 701px) and (max-width: 1024px) {
    .content{
        flex-direction: column;
        margin: 0px;
    }
.model-name{
        margin-top: 0px;
        align-items: top;
        justify-content: top;  
    transform: translate(305px,-60px);

      }
      .split {
        width: 100%;

        }
}
@media (max-width: 700px) {
    .content{
        flex-direction: column;
        margin: 0px;
    }
.model-name{
        margin-top: 0px;
        align-items: top;
        justify-content: top;  
    transform: translate(305px,-60px);

      }
}