/* #color-options label {
    display: block;
    margin-bottom: 10px;
  }
  
  #color-options input[type="image"] {
    
    
    object-fit: cover;
    border: none;
    cursor: pointer;
  }
  #color-options input[type="image"]:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
  }
  
  #color-options input[type="image"]:active {
    transform: scale(0.9);
  } */
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
    padding: 20px;
    z-index: 1;
  }
  
  .menu-item {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu-item:hover {
    background-color: #444;
    cursor: pointer;
  }
  
  .submenu {
    position: fixed;
    top: 0;
    /* left: 200px; */
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);;
    padding: 10px;
    display: none;
    z-index:1;
    overflow-y: auto;
  }
  
  .submenu-item {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .submenu-item:hover {
    background-color: #444;
  }
  
  #background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }
  .back-button {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    margin-bottom: 10px;
  }
  
  .back-button:hover {
    background-color: #444;
  }
 
  