<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/index.css" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  
    <link rel="stylesheet" href="/styles/chatbox.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Aston Martin</title>
</head>

<body>
    <!--Navigation Bar-->
    <header>
        <div class="open-menu">
            <div class="menu-btn" onclick="toggleNav()" id="menuBtn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <div class="logo">
            <a href="#home"><img src="/assets/img/logonour.png" alt="logo" width="160" height="35px"
                    style="padding: 0px; margin: 0px;"></a>
            <p> POWER. DRIVEN</p> 
        </div>
        <div class="signup">
        <% if (user=== "") { %>
            <button class="signup-btn" id="loginBtn">login</button>
            <% } else { %>
            <p>Welcome, <%= user.username%>!</p>
            <button class="side-btn">
                <a id="side-btn" href="/logout">Logout</a>
            </button>
            <% } %>
        </div>
    </header>

    <div id="mySidenav" class="sidenav">
        <a class="a" href="" id="Home">Home</a>
        <a class="a" href="/models/cars">Models</a>
       <!--  <a class="a" href="/src/views/enquire.html">Enquire</a> -->
        <a class="a" href="/src/views/testdrive.html">Test Drive</a>
        <a class="a" href="#aboutus">About Us</a>
        <a class="a" href="#contactUs">Contact Us</a>
        <a class="a" href="/reservationHistory">Reservations</a>
        <a class="a" href="/testdriveHistory">testDrive History </a>
        <a class="a" href="/userHistory">Users Info</a>
        <a class="a" href="adminDash.html">Products Info</a>
    </div>
    <script>
        document.getElementById('Home').onclick = function () {
            location.reload();
        };
    </script>

    <!--Main Home-->


    <section class="home" id="home">
        <div class="vid-container">
            <video autoplay loop muted class="video" id="vid">
                <source src="/assets/vids/project car video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="text-box" id="text-box">
                <h1>ASTON MARTIN</h1>
            </div>
        </div>
        <a href="#models"><img class="arrow" src="/assets/img/arrows.png" alt="arrow" width="40"></a>
    </section>

    <section class="home2" id="home2">

    </section>

    <!--Models-->
    <div class="main-title" style="background-color: black;">
        <p>Popular Models</p>
    </div>
    <section class="models" id="models">
        <div class="container">
            <div class="model-name">
                <p>&nbsp; DBS770 VOLANTE</p>
            </div>
            <button class="discover-btn disc1">
                <a href="index2.html">Discover More</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
            <div class="content">
                <div class="image">
                    <img src="/assets/img/model9-p1.jpg" alt="model5">
                </div>

                <div class="image2">
                    <img src="/assets/img/model9-p2.jpg" alt="model5">
                </div>
            </div>

            <div class="model-name">
                <p>VANTAGE</p>
            </div>
            <button class="discover-btn disc2">
                <a href="index1.html">Discover More</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
            <div class="content">
                <div class="image">
                    <img src="/assets/img/model11-p1.jpg" alt="model5">
                </div>
                <div class="image2">
                    <img src="/assets/img/model11-p2.jpg" alt="model5">
                </div>
            </div>

        </div>
    </section>

    <!--About US-->
    <section class="cards" id="EXTERIOR">
        <div class="contentcardd">
          <div class="card">
            <div class="iconn">
              <img class="soretelengine" src="/assets/img/aboutus3n.jpg" alt="" />
            </div>
            <div class="info">
              <p>
                ASTON MARTIN BEGINGS IMPORTANT NEW ERA WITH RETURN TO FORMULA ONE
              </p>
            </div>
          </div>
          <div class="card">
            <div class="iconn">
              <img class="soretelengine" src="/assets/img/aboutus7.jpg" alt="" />
            </div>
            <div class="info">
              <p>
                ASTON MARTIN'S VISION IS TO BE THE WORLD'S MOST DESIRABLE,
                ULTRA-LEXURY BRITISH BRAND
              </p>
            </div>
          </div>
          <div class="card">
            <div class="iconn">
              <img class="soretelengine" src="/assets/img/aboutus10.jpg" alt="" />
            </div>
            <div class="info">
              <p>GLOBAL JAMES BOND DAY 2018</p>
            </div>
          </div>
          <div class="card">
            <div class="iconn">
              <img class="soretelengine" src="/assets/img/aboutus11nn.jpg" alt="" />
            </div>
            <div class="info">
              <p>
                A COCKPIT DOUSED IN DECIBELS Seething with sound. Vantage comes
                with the option of the Halo system developed with Aston Martin’s
                audio partner, Bowers & Wilkins. Wrapping every corner with the
                15-speaker, double amplified 1,170W surround sound system.
              </p>
            </div>
          </div>
        </div>
      </section>



    <footer class="contactUs" id="contactUs">
        <div class="contact-contaier">
            <div class="sidenav2">
                <a class="a1" href="#customerSupport">Customer Support</a>
                <a class="a2" href="#enquireOnline">Enquire Online</a>
                <a class="a3" href="#contactUs">Contact Us</a>
            </div>
            <div class="contact-info" id="contact-info">
                <p class="contact-text" id="contact-text">
                    Aston Martin Client Support<br><br>
                    Tel: 44 (0) 1926 644722<br>
                    US customers: (866) 278-6661</p>
            </div>
        </div>
    </footer>

    <!-- chat bot -->
    <div class="main-div">
        <div class="menuToggle">
            <i class='bx bx-help-circle'></i>
        </div>
        <div class="containeramgad">
            <div class="top-part">
                <div class="agent-details">
                    <h3>ChatBot</h3>
                </div>
            </div>
            <div class="chart-section">
                <div class="agent-chart">
                    <div class="left-part">
                        <div class="msg1">
                            <img src="chatboxpfp2.png">
                            <p>Hi! How can I help you?</p>
                        </div>
                        <div class="common1">
                            <button class="ch" id="ch1">Models Available</button>
                            <button class="ch" id="ch2">Test drive Form</button>
                            <button class="ch" id="ch3">About us </button>
                        </div>
                    </div>
                </div>
                <div class="chat" id="chat">

                </div>
            </div>
</div>

            <script src="/scripts/index/chatbox.js"></script>
            <script src="/scripts/index/video.js"></script>
            <script src="/scripts/index/models.js"></script>
            <script src="/scripts/index/about.js"></script>
            <script src="/scripts/index/contact.js"></script>
            <script src="/scripts/index/login.js"></script>


</body>

</html>