<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <script src="script.js"></script>
    <header class="first-header">
      <a class="a" href="LandingPage.html">Home</a>
      <a class="a" href="models.html">Models</a>
      <div class="logo">
        <img
          src="/imagesmalak/malaklogooo.png"
          alt="logo"
          width="200"
          style="padding: 0px; margin: 0px"
        />
        <p>POWER. DRIVEN</p>
      </div>
      <a class="a" href="Reservation.html">Enquire</a>
      <a class="a" href="testdrive2.html">Test drive</a>
    </header>

    <header class="second-header">
      <ul>
        <li><a href="#SPECIFICATIONS">SPECIFICATIONS</a></li>
        <li><a href="#ENGINEERING">ENGINEERING</a></li>
        <li><a href="#INTERIOR">INTERIOR</a></li>
        <li><a href="#EXTERIOR">EXTERIOR</a></li>
      </ul>
    </header>

    <section class="main" id="SPECIFICATIONS">
      <div class="vid-contt">
        <video autoplay loop muted src="/vids/vid1.mp4" class="vido"></video>
      </div>
      <div class="modelname">
        <h2>Thrill Driven</h2>
        <h3>Vantage.</h3>
        <div class="config-btn">
          <a href="VANTAGEconfig.html" class="main-btn">Configure</a>
          <a href="Reservation.html" class="main-btn2">Enquire</a>
        </div>
      </div>
    </section>
    <section class="page2" id="SPECIFICATIONS">
      <div class="content">
        <p>
          <span
            >Aston Martins are known for their elegant and timeless design,
            crafted with high-quality materials such as leather and carbon
            fiber. The brand has a distinctive look that sets it apart from
            other luxury car manufacturers.</span
          >
        </p>
      </div>
    </section>

    <!-- <div style="min-height: 40em"></div> -->
    <script src="script.js"></script>

    <section class="page4" id="ENGINEERING">
      <div class="vid-contt">
        <video
          autoplay
          loop
          muted
          src="/vids/The new Aston Martin V12 Vantage _ The last V12 engine Vantage.mp4"
          class="vido"
        ></video>
      </div>
      <!-- <h2>LET'S GET YOU <span>ON THE ROAD</span></h2> -->
      <h3 class="big">ENGINEERING AND PERFORMANCE</h3>
      <p class="engText">
        Engineered from the inside out. To let the outside in. Growling with
        665PS and invigorated with 30% more power than its predecessor. Kindling
        it with the thrill to not just reach the limit. But live there, forever.
      </p>
    </section>
    <section class="page5">
      <div class="pic5">
        <img src="/imagesmalak/carrr.png" alt="astoncar" />
      </div>
      <div class="page5tittle">
        <h3>THREADING THE FEEL OF THE ROAD THROUGH EVERY TRACE OF CAR</h3>
        <div class="page5content">
          <p>
            Primed by engineering premieres. Five innovations to plant tarmac
            into your palms. Shaped and smoothed to stiffen your edges and
            syphon power to the point of no return. Before you feel the road,
            find out what connects you so unapologetically to it.
          </p>
        </div>
      </div>
    </section>
    <section class="cards" id="ENGINEERING">
      <div class="contentcardd">
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/00.png" alt="" />
          </div>
          <div class="info">
            <h3>Engine</h3>
            <p>
              HEARTBEAT TUNED 30% HARDER The largest single leap in power in the
              73-year legend of Vantage. Launched from a hand-built twin-turbo
              V8. Heavily reworked. 800Nm thrusted through your tyres and
              trouncing the tarmac. Road reeling with 665PS. A 30% upswell
              compared to its direct predecessor. The most significant surge in
              the 7-decade timeline of the Vantage name.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/10.png" alt="" />
          </div>
          <div class="info">
            <h3>Chassis Dynamics and suspension</h3>
            <p>
              ENGRAVED WITH THE INNER STRENGTH TO LOOK ITS OUTER LIMITS IN THE
              EYE Targeted bracing, undertrays and larger anti-roll bars
              multiply torsional stiffness, increasing lateral rigidity.
              Yielding a new strength of feeling in the cockpit. To tighten the
              connection between all five senses of the driver and every
              sensation of the car.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/20.png" alt="" />
          </div>
          <div class="info">
            <h3>Brakes and tyres</h3>
            <p>
              21 INCHES OF THRILLSEEKING TAILORING A podium of Michelin majesty.
              Michelin Sport S 5. A proprietary and private blend specially made
              for Vantage. Moulded by Michelin, to the measure of Aston Martin.
              Threading greater intelligence through every tread. With a
              cutting-edge compound that maximises endurance.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="page2">
      <div class="content">
        <p>
          Together with assertive styling, all-new interior and state-of-the-art
          infotainment, Vantage is world-class in every respect”. Powered by a
          heavily reworked, hand-built 4.0 Twin-Turbo V8 engine the new Vantage
          is the fastest in the nameplate's history.
        </p>
      </div>
    </section>
    <section class="page6" id="INTERIOR">
      <div class="interiorpic">
        <img src="/imagesmalak/Aston-Martin-DB12.png" alt="interior" />
      </div>
      <!-- <h2>LET'S GET YOU <span>ON THE ROAD</span></h2> -->
      <h3 class="inttittle">INTERIOR</h3>
      <p class="intText">
        Forged to be the most infinitely fine. Vantage is defined by an all-new
        interior, brushed with flawless lines, exquisite materials,
        state-of-the-art connected technology and positioned perfectly for
        driver centricity. Leaving your ears, eyes and limbs stitched into the
        limit of comfort.
      </p>
    </section>
    <section class="cards" id="ENGINEERING">
      <div class="contentcardd">
        <div class="card">
          <div class="iconn">
            <img
              class="soretelengine"
              src="/imagesmalak/int1CentreConsole_v2.webp"
              alt=""
            />
          </div>
          <div class="info">
            <h3>centre console</h3>
            <p>
              A FURORE OF FOCUS The ergonomically evolved and lowered centre
              console places you in the epicentre of every quiver of Vantage.
              202mph. Flowing from your fingertips. Orbiting around a stop/start
              button that can erupt at the glance of an index. Marrying the
              digital with the analogue. Allowing you to dance through different
              drive modes with a twist of a wrist.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/int2.webp" alt="" />
          </div>
          <div class="info">
            <h3>touch screen</h3>
            <p>
              AN EPICENTRE OF INTELLIGENCE Screened with intelligence. Vantage
              comes pulsing with connectivity. A driver-centric dashboard in
              tune with every beat of the engine. Together with 10.25-inch, Pure
              Black touchscreen technology. Putting the digital in harmony with
              the analogue. And immediate command in the driver’s fingertips,
              ensuring the most used controls are intuitively available. Without
              the need to take your eyes off the corner.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/int3.webp" alt="" />
          </div>
          <div class="info">
            <h3>audio</h3>
            <p>
              A COCKPIT DOUSED IN DECIBELS Seething with sound. Vantage comes
              with the option of the Halo system developed with Aston Martin’s
              audio partner, Bowers & Wilkins. Wrapping every corner with the
              15-speaker, double amplified 1,170W surround sound system. Paired
              with dedicated 3D headline speakers and a powerful subwoofer.
              Bending sound to the will of your interior and leaving you as
              plugged into your favourite music, as you are to the road.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/int4.webp" alt="" />
          </div>
          <div class="info">
            <h3>infotainment</h3>
            <p>
              IN FLIGHT INFOTAINMENT Vantage features our next-generation
              infotainment system. Forged in house, flushed with online
              connectivity, bolstered with 3D mapping and satellite view
              technology. And finished with fully integrated Apple CarPlay™ .
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/int5.webp" alt="" />
          </div>
          <div class="info">
            <h3>connected cars</h3>
            <p>
              PLIED WITH INTELLIGENCE A car centred around connectivity in the
              shape of the Aston Martin app. The pièce de assistance you need to
              communicate, interact and engage with your car. Putting updates
              and upgrades only the touch of a phone button away. An
              ever-expanding system, pushing the car as much as the driver, to
              continue to evolve and improve.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/int6.webp" alt="" />
          </div>
          <div class="info">
            <h3>styling</h3>
            <p>
              STITCHING YOURSELF INTO EVERY CHICANE Reworked, inside out, to
              revel in the reality of the road. A crowning comfort with a new
              feeling on connectivity. Enveloped in ergonomics. And decorated in
              the tradition of hand-stitched Bridge of Weir hide. Tracing the
              edges of your newly worked cockpit and outlining the improved
              driver centricity and cocooned driving position.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="page7" id="EXTERIOR">
      <div class="vid-contt">
        <video autoplay loop muted src="/vids/exterr.mp4" class="vido"></video>
      </div>
      <!-- <h2>LET'S GET YOU <span>ON THE ROAD</span></h2> -->
    </section>
    <section class="page7">
      <div class="exteriorpic">
        <img src="/imagesmalak/exteriorcarr.jpg" alt="exteriorr" />
      </div>
      <!-- <h2>LET'S GET YOU <span>ON THE ROAD</span></h2> -->
      <h3 class="exttittle">EXTERIOR</h3>
      <p class="extText">
        Punched with poise, darted in dynamism, Vantage meets its new lease of
        power with growling muscularity. A body destined to beat away force and
        drive deeply into your heart.
      </p>
    </section>
    <section class="cards" id="EXTERIOR">
      <div class="contentcardd">
        <div class="card">
          <div class="iconn">
            <img
              class="soretelengine"
              src="/imagesmalak/carddd1ext.webp"
              alt=""
            />
          </div>
          <div class="info">
            <h3>front</h3>
            <p>
              ANGLED IN AGGRESSION Moulded to meet you with more muscle. Its
              stance is sharpened by a new front end. 30mm wider. Veined,
              recontoured, grille growling with 38% more surface area. Opening
              up 50% more capacity for cooling. Set into the bumper, alongside
              an integrated splitter that sears the surface of your pupils with
              a final, dramatic aerodynamic touch.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img
              class="soretelengine"
              src="/imagesmalak/cardd2ext.webp"
              alt=""
            />
          </div>
          <div class="info">
            <h3>side</h3>
            <p>
              FLANKED BY DESIGN FURIOSITY The finest of flanks. The sides of
              Vantage are met with the return of the iconic Aston Martin side
              strake. Scored with the harmony of new side sills. Joined by the
              addition of the frameless door mirrors and presenting door
              handles.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/extt3.webp" alt="" />
          </div>
          <div class="info">
            <h3>rear</h3>
            <p>
              SEALED WITH A ROAR Leaving silence in its dust. Vantage is gilded
              with a wider rear bumper. A silhouette crystalised with side
              vents. Then amplified by larger, quad exhaust tailpipes. For a
              rear that roars through your ears as much as it echoes through
              your eyes.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/extt4.webp" alt="" />
          </div>
          <div class="info">
            <h3>wheels</h3>
            <p>
              ALLOYED TO PERFECTION Enlarged, hand-forged 21-inch alloy wheels.
              Designed to meet the wheel arches to perfection. With a bespoke
              blend of tyres. That minimise weight. Maximise durability. Improve
              breakaway characteristics and growl with more grip.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="iconn">
            <img class="soretelengine" src="/imagesmalak/extt5.webp" alt="" />
          </div>
          <div class="info">
            <h3>lighting</h3>
            <p>
              OWN THE DARK The brightest star in the headlight universe. Vantage
              shines with LED headlights and a new daytime running light (DRL)
              signature. Intelligently imagined by AI and cut in a 6-block
              pattern to give a distinct character and stop refraction of light
              from the LED beam in its tracks. And standing intricately detailed
              and engraved with the Aston Martin name to leave your signature on
              the night. Replacing the automatic high beam headlight system, are
              the Aston Martin Matrix headlamps.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
