<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/models.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    
    <title>models</title>
</head>
<header>
    
    
        <div class="logo">
           <a href="/"><img src="/assets/img/logo.png" alt="logo" width="200"  style="padding: 0px; margin: 0px;"></a> 
            </div>
</header>
<body>
  <div class="overlay-container">
    <div class="video-container">
      <div class="close-button">
          <button onclick="toggleOverlay()">X</button>
      </div>
      <video id="overlayVideo" muted loop preload="auto">
          <source id="videoSource"  type="video/mp4">
          Your browser does not support the video tag.
      </video>
  </div>
  </div>
  <div class="progress-bar">
    <div class="progress__name">Top Speed</div>
    <div id="top-speed" class="progress"></div>
    <br>
    <div class="progress__name">0-100 KM/h</div>
    <div id="zeroToHundred" class="progress"></div>
    <br>  
    <div class="progress__name">Accelaration</div>
    <div id="accelaration" class="progress" style="--p:70"></div>
  </div>

  <div class="carInfoContainer" id="car-header">
    
  </div>
  
  <div #swiperRef="" class="swiper mySwiper">
    
    
    
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/assets/img/DBS.png" id="dbs">
        <div class="model-name"> <h2>DBS</h2></div>
      </div>

      <div class="swiper-slide">
        <img src="/assets/img\vantage.png" id="vantage"> 
        <div class="model-name"> <h2>VANTAGE</h2></div>
      </div>

      <div class="swiper-slide">
        <img src="/assets/img\dbx707.png" id="dbx707"> 
        <div class="model-name"> <h2>DBX707</h2></div>
      </div>

      <div class="swiper-slide">
        <img src="/assets/img\valour.png" id="valour">  
        <div class="model-name"> <h2>VALOUR</h2></div>
      </div>

      <div class="swiper-slide">
        <img src="/assets/img\db12.png" id="db12"> 
        <div class="model-name"> <h2>DB12</h2></div>
        </div>
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>
  <div class="configuremodels">
    <a id="configure-link">
      <button id="configure">
        <span>CONFIGURE</span>
      </button>
    </a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/scripts/models/models.js"></script>
</body>

</html>